@mixin backdrop-blur($bdbColor) {
  background: $bdbColor;
  @supports (backdrop-filter: saturate(180%) blur(20px)) {
    background: rgba($bdbColor, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

@mixin tc-backdrop-blur($bdbColor, $d) {
  background: rgba($bdbColor, 1);
  @supports (backdrop-filter: saturate(180%) blur(20px)) {
    background: rgba($bdbColor, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

@mixin tc-backdrop-blur2($bdbColor) {
  background: rgba($bdbColor, 1);
  @supports (backdrop-filter: saturate(180%) blur(20px)) {
    background: rgba($bdbColor, 0.5);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

@mixin tc-container($c, $bg) {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 20px;
  margin: 3px;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: $border-radius;
  cursor: pointer;
  color: $c;
  background: $bg;
  border-color: rgba($c, 0.1);
  &:hover,
  &:focus,
  &:focus-within {
    border-color: rgba($c, 0.4);
  }
}
@mixin tc-container__dark {
  @include tc-container($color_dark, lighten($paragraph_dark, 7.5%));
}
@mixin tc-container__light {
  @include tc-container($color, darken($paragraph, 7.5%));
}

@mixin tc-container--title {
  text-align: left;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  top: -25px;
}
@mixin tc-container--indicator__icon {
  padding-right: 5px;
  margin-right: 5px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.5px;
    border-radius: 10px;
    right: 0;
    opacity: 0.6;
    background: currentColor;
  }
}

@mixin custom-scrollbar($bg) {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    position: absolute !important;
    border-radius: 4px;
    transition: 0.2s ease;
  }

  &::-webkit-scrollbar-thumb {
    transition: 0.2s ease;
    border-radius: 4px;
    background: $bg;
    &:hover {
      background: #888;
    }
  }
}
@mixin custom-scrollbar__dark {
  @include custom-scrollbar(#666);
}

@mixin custom-scrollbar__light {
  @include custom-scrollbar(#aaa);
}
