@import 'variables';
.tc-container {
  display: inline-block;
  padding: 5px;
  height: 20px;
  margin: 3px;
  user-select: none;
  transition: 0.2s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;

  background: $paragraph;
  border-radius: $border-radius;
  &:hover {
    border-color: rgba($color, 0.4);
  }
}
